html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;

  background-color: white;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 0;

  color: black;
  border: none;
  background: none;
  cursor: default;
}

button:hover {
   cursor: pointer;
 }

button:active {
   opacity: 0.7;
 }

button:disabled {
  cursor: default;
  opacity: 0.5;
}

#weather-widget-app {
  position: relative;

  width: 100%;
  max-width: 250px;
  min-height: 292px;

  padding: 10px;
  border: 1px solid gray;
}
