button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: 0;

  color: $black;
  border: none;
  border-radius: 2px;

  background-size: 80%;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;

  cursor: default;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid $black;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
