button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin: 0;

  color: black;
  border: none;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  cursor: default;

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
