.location-input {
  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 5px;

    font-size: 13px;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    padding: 5px 25px 5px 5px;
    margin-right: 10px;

    outline: 2px solid $gray-dark;
    border: none;
    border-radius: 2px;

    &:focus,
    &:focus-visible {
      outline-color: $blue;
    }

    &.location-input__input--error {
      outline-color: $red;

      &:focus,
      &:focus-visible {
        outline-color: $red;
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      transition: background-color 5000s ease-in-out 0s;
    }
    // delete cross inside input with type "search"
    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
  }

  &__button-clear {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);

    width: 25px;
    height: 25px;
  }

  &__status {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;

    font-size: inherit;
    color: $red;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%) scale(30%);
  }
}
