weather-widget {
  position: relative;

  display: block;
  max-width: 280px;
  min-height: 314px;
  box-sizing: border-box;

  padding: 10px;
  border: 1px solid gray;

  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;

  background-color: white;
  overflow: hidden;
}
