weather-widget {
  position: relative;

  display: block;
  width: 100%;
  max-width: 250px;
  min-height: 292px;

  padding: 10px;
  border: 1px solid gray;

  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;

  background-color: white;
}
