.select-element {
  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    width: min-content;

    font-weight: bold;
    line-height: 18px;
  }

  &__select {
    padding: 0.1em 1.5em 0.1em 0.4em;

    border: 1px solid;
    border-radius: 3px;

    background-color: $white;
    background-repeat: no-repeat;
    background-size: 0.85em auto;
    background-position: calc(100% - 0.25em) 0.35em;

    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:hover,
    &:focus {
      outline: 2px solid $blue;
      cursor: pointer;
    }
  }
}
