.settings-section {
  min-height: 292px;

  &__header {
    display: block;
    width: calc(100% + 20px);
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 5px;

    text-align: left;
    background-color: $ghostwhite;
  }

  &__title {
    margin: 0;

    font-size: 15px;
    font-weight: bold;
  }

  &__options {
    margin-bottom: 10px;
  }

  &__location-input {
    margin-bottom: 5px;
  }

  .settings-section__draggable-list--opacity {
    opacity: 0.5;
  }
}
