.settings-section {
  min-height: 292px;

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  &__options {
    margin-bottom: 10px;
  }

  &__location-input {
    margin-bottom: 5px;
  }

  .settings-section__draggable-list {
    margin-bottom: 5px;

    &--opacity {
      opacity: 0.5;
    }
  }

  &__additional-settings-input:focus-visible + &__additional-settings-label {
    outline: 2px solid $black;
  }

  &__additional-settings-label {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 2px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 16px 16px;

    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    color: $black;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
