.suggestion-list {
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 1;

  border: 1px solid $gray-dark;
  border-radius: 2px;
  background-color: $white;
  box-shadow: 5px 8px 8px 0 $black;

  &__list {
    display: block;
    width: 256px;
    max-height: 205px;
    padding: 0;
    margin: 0;

    overflow: hidden auto;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 4px;

    cursor: pointer;

    &:hover,
    &:focus-visible,
    &--active {
      background-color: $light-blue;
      outline: none;
    }

    b {
      font-weight: bold;
    }
  }

  &__item + &__item {
    margin-top: 1px;
  }

  &__item-name {
    display: block;
    max-width: 75%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__item-country {
    padding-right: 5px;
    margin-right: auto;
  }

  &__item-flag {
    display: block;
    width: 20px;
    height: 15px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

