//colors
$white:          #ffffff;
$gray:           #edebe9;
$gray-light:     #dedede;
$gray-dark:      #939393;
$gray-scroll-bg: #535353;
$red:            #ff0000;
$light-blue:     #afb9eb;
$blue:           #5050ff;
$black:          #000000;
